<style>
  *{ color:black; background:white; } td{ padding:18px; }
</style>
<b>Hey {{name}}</b>
<p>new Order has been placed please check it out.</p>
<h2> Order Details :</h2>
<center>
  <table border='1'>
    <tr>
      <td>
        Order ID:
      </td>
      <td>
        {{orderId}}
      </td>
    </tr>

    <tr>
      <td>
        Name:
      </td>
      <td>
        {{orderName}}
      </td>
    </tr>
    <tr>
      <td>
        Mobile:
      </td>
      <td>
        {{orderMobile}}
      </td>
    </tr>
    <tr>

      <td>
        Vehicle:
      </td>
      <td>
        {{orderVehicleType}}
      </td>
    </tr>
    <tr>
      <td>
        Time:
      </td>
      <td>
        {{orderDate}}
      </td>
    </tr>
    <tr>
      <td>
        Package ID:
      </td>
      <td>
        {{packageId}}
      </td>
    </tr>
    <tr>
      <td>
        Source:
      </td>
      <td>
        {{packageSource}}
      </td>
    </tr>
    <tr>
      <td>
        destination:
      </td>
      <td>
        {{packageDestination}}
      </td>
    </tr>
    <tr>
      <td>
        Price:
      </td>
      <td>
        Rs.
        {{packagePrice}}
      </td>
    </tr>
  </table>
</center>
<br /><br />
<small>
  Allmart Multipurpose Company Pvt. Ltd.<br />
  Jadibuti, Kathmandu<br />
  info@myallmart.com<br />
  9863666547<br />
</small>
<br />
<center>
  <small>
    You are getting this email because you are an admin of Allmart Car Rental
    Service.<br />
    Please remove your email from admin list to unsubscribe. Thank You.<br />
  </small>
</center>